// Fonts?
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-text: #fff;
$colour-background: #333;

$font-body: "Inter", arial;
$font-weight-bold: 400;
$font-weight-light: 300;